<!-- About Section -->
<section id="about">
  <a class="anchor" id="about-section"></a>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis lectus neque, at cursus nulla aliquam ac. Suspendisse at justo eleifend, pulvinar mauris id, facilisis ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin tempor lacus non malesuada rutrum. Curabitur sagittis porta consectetur. In hac habitasse platea dictumst. Vivamus convallis consectetur ornare. In facilisis pulvinar mauris, at vehicula mauris rhoncus vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc ac lectus vel dui dapibus aliquet.
      </div>
      <div class="col-md-6 about-img">
        <img src="{{ '/css/img/about.jpg' | prepend: site.baseurl }}" alt="about-img"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 about-img">
        <img src="{{ '/css/img/about-two.jpg' | prepend: site.baseurl }}" alt="about-img"/>
      </div>
      <div class="col-md-6 about-text">
        Praesent cursus lacinia magna ac bibendum. Donec ultrices ipsum sodales velit condimentum, at luctus sapien vulputate. Nam efficitur felis lectus, id vehicula massa condimentum vitae. Cras bibendum tortor ligula, non maximus ipsum ullamcorper in. In in pretium risus. Sed vehicula eros vehicula, mattis nulla ac, finibus lectus. Sed semper aliquam enim sed venenatis. Morbi volutpat enim dolor, quis maximus justo blandit sit amet. Vestibulum finibus, dui rutrum tincidunt commodo, tellus felis dignissim nibh, et commodo magna ex vulputate metus.
      </div>
    </div>
  </div>
</section>
