/* FOOTER ONLY */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  position: absolute;
  // font-family: "Helvetica Neue", Arial, sans-serif;
  font-family: _font(sans-serif);
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding-bottom: 30px;
}

footer {
  position: absolute;
  background-color: #efefef;
  font-size: 80%;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
}
